/homework2/1stLevelFolder/2ndLevelFolder2/
/homework2/1stLevelFolder/2.png
/homework2/1stLevelFolder/3.png
/homework2/1stLevelFolder/name a.png
/homework2/1stLevelFolder/2ndLevelFolder2/4.png
/homework2/1stLevelFolder/2ndLevelFolder2/name ab.png
/homework2/1stLevelFolder/
